{% load static %}
<!-- Required jQuery first, then Bootstrap Bundle JS -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>

<!-- *************
        ************ Vendor Js Files *************
    ************* -->

<!-- Overlay Scroll JS -->
<script src="{% static 'assets/vendor/overlay-scroll/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'assets/vendor/overlay-scroll/custom-scrollbar.js' %}"></script>

<!-- Apex Charts -->
<script src="{% static 'assets/vendor/apex/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/home/patients.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/home/treatment.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/home/available-beds.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/home/earnings.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/home/gender-age.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/home/claims.js' %}"></script>


<!-- FOR PATIENT-DASHBOARD ONLY -->
<!-- Apex js -->
<script src="{% static 'assets/vendor/apex/custom/patients/sparklines.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/patients/insuranceClaims.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/patients/medicalExpenses.js' %}"></script>
<script src="{% static 'assets/vendor/apex/custom/patients/healthActivity.js' %}"></script>


<!-- FOR LIST PATIENT -->
<!-- Data Tables -->
<script src="{% static 'assets/vendor/datatables/dataTables.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/vendor/datatables/custom/custom-datatables.js' %}"></script>
<!-- FOR LIST PATIENT END -->


<!-- FOR ADD PATIENT -->
<!-- Dropzone JS -->
<script src="{% static 'assets/vendor/dropzone/dropzone.min.js' %}"></script>
<!-- FOR ADD PATIENT END -->


<!-- Custom JS files -->
<script src="{% static 'assets/js/custom.js' %}"></script>