{% extends 'base.html' %}
{% block content %}
<!-- App body starts -->
<div class="app-body">

  <!-- Row starts -->
  <div class="row gx-3">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            {% if patient %} Edit Patient Details {% else %} Add Patient Details {% endif %}
          </h5>
        </div>
        <div class="card-body">
          <form method="post" action="{% if patient %} {% url 'edit-patient' patient.id %} {% else %} {% url 'add-patient' %} {% endif %}">
            {% csrf_token %}
            <!-- Row starts -->
            <div class="row gx-3">
              {% for field in form %}
              <div class="col-xxl-3 col-lg-4 col-sm-6">
                <div class="mb-3">
                  <label class="form-label" for="{{ field.id_for_label }}">
                    {{ field.label }} {% if field.field.required %}
                    <span class="text-danger">*</span>
                    {% endif %}
                  </label>
                  {{ field }}
                  <!-- <input type="text" class="form-control" id="a1" placeholder="Enter First Name"> -->
                  {% if field.help_text %}
                  <small class="form-text text-muted">
                    {{ field.help_text }}
                  </small>
                  {% endif %}
                  {% for error in field.errors %}
                  <div class="text-danger">
                    {{ error }}
                  </div>
                  {% endfor %}
                </div>
              </div>
              {% endfor %}  
              <div class="col-sm-12">
                <div id="dropzone" class="mb-3">
                  <form action="https://bootstrapget.com/upload" class="dropzone dz-clickable" id="demo-upload">
                    <div class="dz-message">
                      <button type="button" class="dz-button">
                        Click here to upload or Drop your reports here.</button>
                      <h5>Upload your health reports.</h5>
                    </div>
                  </form>
                </div>
              </div>            
              <div class="col-sm-12">
                <div class="d-flex gap-2 justify-content-end">
                  <a href="{% url 'patients-list' %}" type="button" class="btn btn-outline-secondary">
                    Cancel
                  </a>
                  <!-- <a href="patients-list.html" type="button" class="btn btn-primary">
                    Create Patient Profile{% if patient %} Update Patient {% else %} Add Patient {% endif %}
                  </a> -->
                  <input type="submit" class="btn btn-primary" value="{% if patient %} Update Patient Profile {% else %} Create Patient Profile {% endif %}">
                  <!-- <button type="submit" class="btn btn-primary">Create Patient Profile</button> -->
                </div>
              </div>
            </div>
            <!-- Row ends -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Row ends -->

</div>
<!-- App body ends -->
{% endblock content %}